<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome @ViewBag.Ninja.Name @ViewBag.Ninja.Password</h1>

    @* @foreach(var language in @ViewBag.Languages)
    {
        <p>@language</p>

        
    } *@

    This is profile page! Lets make it work.
</body>
</html>